################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Surfaces/MackieControl/x64
/Surfaces/MackieControl/.vs/MackieControl_vs14/v15
/Surfaces/MackieControl/Unicode Release
/Surfaces/MackieControl/Release
/Framework2
/Surfaces/MackieControl/MackieControl_vs14.vcxproj.user
/Surfaces/MackieControl/MackieControl.aps
